# Water Crisis Model Solutions - Dam levels (Q11 - Q20)

In [1]:
import pandas as pd

In [2]:
# Read in the dam levels dataset into Pandas dataframe and encode it correctly
df = pd.read_csv('dam_levels.csv', encoding='latin-1')

# Drop unneccesarry columns
df = df.drop('dam_stats_key', axis=1)

# Look at first few entries
df['percentage_capacity'] = df['percentage_capacity'].apply(lambda x: x/100).round(3)

df.head()

,t_date,month_year,t_month,t_year,dam_name,dam_class,Max_dam_capacity_ML,height_m,storage_ml,percentage_capacity
0,01/01/2012,Jan-12,1,2012,ALEXANDRA,Minor Dam,134,10.64,99.9,0.745
1,02/01/2012,Jan-12,1,2012,ALEXANDRA,Minor Dam,134,10.61,99.2,0.740
2,03/01/2012,Jan-12,1,2012,ALEXANDRA,Minor Dam,134,10.59,98.7,0.737
3,04/01/2012,Jan-12,1,2012,ALEXANDRA,Minor Dam,134,10.61,99.2,0.740
4,05/01/2012,Jan-12,1,2012,ALEXANDRA,Minor Dam,134,10.60,98.9,0.738

### Question 11

#### What is the percentage of water in all dams in the Western Cape on 19 Oct 2017?

In [5]:
# Total storage on 19 Oct 2017
s = df[df['t_date'] == '19/10/2017'].sum()['storage_ml']

# Total capacity on 19 Oct 2017
t = df[df['t_date'] == '19/10/2017'].sum()['Max_dam_capacity_ML']

# Divide storage by capacity to get % capacity 
s / t

0.3814624071355364

### Question 12

#### Which dam has the lowest percentage of water on 19 Oct 2017?

In [6]:
df[df['t_date'] == '19/10/2017'][['dam_name', 'percentage_capacity']].sort_values(by='percentage_capacity', ascending=True)

               dam_name  percentage_capacity
26230          VOELVLEI                0.273
21846   THEEWATERSKLOOF                0.278
17462   STEENBRAS LOWER                0.447
28422       WEMMERSHOEK                0.470
4310         BERG RIVER                0.675
10886       KLEINPLAATS                0.677
2118          ALEXANDRA                0.694
30614          WOODHEAD                0.957
6502        DE VILLIERS                0.966
15270         LEWIS GAY                0.972
8694    HELY-HUTCHINSON                1.003
24038          VICTORIA                1.007
19654   STEENBRAS UPPER                1.010
13078  LAND-en ZEEZICHT                1.049

### Question 13

#### What was the height of the Theewaterskloof dam on 13 June 2016?

In [7]:
df[(df['t_date'] == '13/06/2016') & (df['dam_name'] == 'THEEWATERSKLOOF')][['dam_name', 'height_m']]

              dam_name  height_m
21353  THEEWATERSKLOOF      18.2

### Question 14

#### Which dam saw the greatest decrease (%) in average height from 2015 to 2016?

In [12]:
# Create pivot table to get average height by year
a = df.pivot_table(values='height_m', index='dam_name', columns='t_year').reset_index()

# Create a column for % increase in height from 2015 to 2016
a['15_16'] = a[2016] / a[2015] - 1

# Sort increase in % height from low to high
a[['dam_name', '15_16']].sort_values(by='15_16', ascending=True)

t_year          dam_name     15_16
6              LEWIS GAY -0.321555
1             BERG RIVER -0.205346
5       LAND-en ZEEZICHT -0.203582
9        THEEWATERSKLOOF -0.133957
11              VOELVLEI -0.102943
7        STEENBRAS LOWER -0.098373
12           WEMMERSHOEK -0.041019
8        STEENBRAS UPPER -0.026223
13              WOODHEAD  0.064021
2            DE VILLIERS  0.075741
4            KLEINPLAATS  0.100296
10              VICTORIA  0.115310
0              ALEXANDRA  0.204729
3        HELY-HUTCHINSON  0.457601

### Question 15

#### How many days in April 2016 did the Theewaterskloof dam have a percentage capacity of < 30%?

In [14]:
df[(df['month_year'] == 'Apr-16') 
   & (df['dam_name'] == 'THEEWATERSKLOOF') 
   & (df['percentage_capacity'] < 0.33)]['month_year'].count()

23

### Question 16

#### Which dam was the fullest on average in September 2015?

In [15]:
df[df['month_year'] == 'Sep-15'].groupby('dam_name').mean()['percentage_capacity'].sort_values(ascending=False)

dam_name
HELY-HUTCHINSON     1.000833
LEWIS GAY           0.996767
STEENBRAS UPPER     0.956433
DE VILLIERS         0.910433
STEENBRAS LOWER     0.902533
VICTORIA            0.900000
BERG RIVER          0.889833
KLEINPLAATS         0.807200
WOODHEAD            0.782767
THEEWATERSKLOOF     0.758433
WEMMERSHOEK         0.725467
VOELVLEI            0.495800
LAND-en ZEEZICHT    0.435767
ALEXANDRA           0.350500
Name: percentage_capacity, dtype: float64

### Question 17

#### On which day in January 2016 did the Voëlvlei dam have the least water?

In [26]:
df[(df['dam_name'] == 'VOELVLEI') & (df['month_year'] == 'Jan-16')].sort_values(by='storage_ml').iloc[0]

t_date                 31/01/2016
month_year                 Jan-16
t_month                         1
t_year                       2016
dam_name                 VOELVLEI
dam_class               Major Dam
Max_dam_capacity_ML        164095
height_m                     8.38
storage_ml                  42024
percentage_capacity         0.256
Name: 25603, dtype: object

### Question 18

#### Which dam had the lowest % capacity in 2014 and on what day was it?

In [38]:
df[df['t_year'] == 2014].sort_values(by='percentage_capacity')[['dam_name', 't_date', 'percentage_capacity']].head(1)

             dam_name      t_date  percentage_capacity
7454  HELY-HUTCHINSON  28/05/2014                0.056

### Question 19

#### In how many different days in the data are at least one dam full (i.e. percentage >= 100%)?

In [39]:
df[df['percentage_capacity'] >= 1]['t_date'].nunique()

1016

### Question 20

#### Which dam was full for the most days?

In [40]:
df[df['percentage_capacity'] >= 1].groupby('dam_name')['t_date'].count().sort_values(ascending=False)

dam_name
HELY-HUTCHINSON     636
VICTORIA            575
LEWIS GAY           486
STEENBRAS UPPER     424
BERG RIVER          339
DE VILLIERS         304
THEEWATERSKLOOF     286
KLEINPLAATS         237
WOODHEAD            154
STEENBRAS LOWER     131
VOELVLEI            113
ALEXANDRA            93
LAND-en ZEEZICHT     91
WEMMERSHOEK          84
Name: t_date, dtype: int64